{% extends "flights.html" %}
{% block body %}
<div class="results">
    <div class="notice">
        <p>
            <i class='bx bx-error'></i>
            Due to unfinished airport list be careful.
        </p>
    </div>
    <table>
        <tr>
            <th> Country</th>
            <th>Origin city</th>
            <th> Destination</th>
            <th>Destination city</th>
            <th>Passenger number</th>
            <th>price</th>
            <th>Distance</th>
            <th>Departure time</th>
            <th>Arriving time</th>
        </tr>
        {% for data in real_data %}
        <tr>
            {% set country_from = data.countryFrom %}
            <td>{{country_from.name }}</td>
            {% set country_to = data.countryTo %}
            <td>{{ data.cityFrom }}</td>
            <td>{{ country_to.name }}</td>
            <td>{{ data.cityTo }}</td>
            {% set seat = data.availability %}
            <td>{{ seat.seats }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.distance }}</td>
            <td>{{ data.local_departure }}</td>
            <td>{{ data.local_arrival }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('available') }}">back</a>
</div>
{% endblock %}