<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/static/css/home.css">
	<title>Myself</title>
</head>

<body>
	<header class="header">
		<a href="{{ url_for('home') }}" class="logo">Julias</a>
		<nav class="nav">
			<a href="{{ url_for('available') }}">Portifolio</a>
			<a href="{{ url_for('services') }}">Services</a>
			<a href="https://docs.google.com/document/d/1LIG1-vJk6XXnPAKMRe5SdDbFizUwHM1APt1yR3UoNiw/edit?usp=sharing">My CV</a>
		</nav>
	</header>
	<section class="home">
		<div class="content">
			<h1>Hey, I'm Julias BUGINGO</h1>
			<h3>Back-end developer</h3>
			<p> I am a software engineer focused on developing mostly web applications, with much strength on the
				back-end.
				I am a developer since 2022, but I've been with developers since 2019, and found it was hard for me to
				be one
				but I've managed to put that fear away and face the dream I've had since I was little of knowing how
				things work
				and maybe develop some of mine.
			</p>
			<div class="more_info">
				<a href="">Let's chat</a>
				<a href="">Hire me</a>
			</div>
		</div>
		<div class="social">
			<a href="https://www.linkedin.com/in/julias-bugingo/"><i class='bx bxl-linkedin'></i></a>
			<a href="https://github.com/Juli868"><i class='bx bxl-github' style='color:#ffffff' ></i></a>
			<a href="https://twitter.com/BugingoJulias"><i class='bx bxl-twitter' style='color:#ffffff' ></i></a>
		</div>
	</section>
</body>

</html>
