{% extends "layout.html" %}
{% block body %}
<p id="first">
    <!-- into -->
    <!-- 1 -->
    After analysing the problem in the my communnity, the technology just seems to get advanced in
    some industries more than the other. Therefore I decided to develop a solution to help my fellows
    gain the information on the available flights. <br>
    <img src="" alt="home screenshot">
    <!-- 2 -->
    Generally people from my country take a person who can take a flight to a place as some kind of a
    Demi-god. Unfortunately it us because they can't get any information on a place that they can use to get
    so that inspired me to create this application to help those, just easily access the information about
    flights to use as they please.
    <img src="" alt="home screenshot">
</p>
<p id="second">
    <h1>
        Get travelling news across the word
    </h1>
</p>
<p id="last">
    <img src="" alt="search screenshot">
    All flight prices in one place
</p>
<a href="{{ url_for('available') }}"></a>Give it a go</a>
{% endblock %}