<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/static/css/self.css">
	<title>Flights</title>
</head>

<body>
	<header class="header">
		<a href="{{ url_for('home') }}" class="logo">Julias</a>
		<nav class="nav">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('available') }}">Portifolio</a>
			<a href="{{ url_for('mi_self') }}">Skills</a>
			<a href="https://docs.google.com/document/d/1LIG1-vJk6XXnPAKMRe5SdDbFizUwHM1APt1yR3UoNiw/edit?usp=sharing">My
				CV</a>
		</nav>
	</header>
	<section class="home">
		<div class="content">
			<h1>Hey, I'm Julias BUGINGO</h1>
			<h3>Back-end developer</h3>
			<p> I am a software engineer focused on developing mostly web applications, with more focus on the
				back-end.
				I am a developer since 2022, but I've been with developers since 2019 during my studies on campus,
				and found it was hard for me to be one
				but I've managed to put that fear away and face the dream I've had since I was little of knowing how
				things work, and develop some of mine. Unfortunately I've waited so long that I almost forgot that the
				one
				that makes mistakes is the one actually doing some thing of great value to the future. That brought
				back some courage in me and I started to play around writing some bullshit programs,
				later I found about the ALX software engineering, signed up and raised my skills up more that now
				I know I can build some thing that can make a difference. <br>
				During a year i spent in the ALX SE(Software Engineering) course, I worked on look alike
				of famous functions and applications; like the printf and shell (bash), more so I worked on my web
				skills and as you can see on this website you're on, I beleive this is just a start. <br>
			<aside>
				<img src="/static/css/imgs/WhatsApp Image 2024-02-01 at 7.44.38 PM.jpeg" alt="my self">
			</aside>
			</p>

			<div class="more_info">
				<a href="mailto:bugijul@gmail.com?subject=Interested%20in%20your%20doings">Let's chat</a>
				<a href="+250787140868">Phone me</a>
			</div>
			<div class="social">
				<a href="https://www.linkedin.com/in/julias-bugingo/" target="_blank"><i class='bx bxl-linkedin'></i></a>
				<a href="https://github.com/Juli868" target="_blank"><i class='bx bxl-github' style='color:#ffffff'></i></a>
				<a href="https://twitter.com/BugingoJulias" target="_blank"><i class='bx bxl-twitter' style='color:#ffffff'></i></a>
			</div>
		</div>

	</section>
</body>

</html>