*{
padding: 0px;
margin: 0px;
font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/web_static/css/imgs/054e766b7123e5ea964c59bd943c6004.jpg");
    background-size: cover;
}
.container{
    width: 420px;
    background: transparent;
    color: black;
    border: 20px solid rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
}
.container .data{
    position: relative;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(3, 3, 3, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 5px 30px 10px 10px;
    margin: 20px;
}
.data input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px rgba(3, 3, 3, 0.2);
    border-radius: 40px;
    font-size: 16px;
}
.data input::placeholder{
    color: black;
    text-align: center;
}
.data input::placeholder #password_conf{
    color: #fff;
}
.container #submit {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}
.container .anchors{
    margin: 20px 0px 15px;
}
.anchors p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.anchors p a:hover{
    text-decoration: underline;
}